/admin/vendor
/admin/assets/img/uploads
/admin/.idea/
/admin_bpk
/vendor
/class/Functions.class.php
/includes/configuracoes.inc.php
/includes/seguranca.php
/admin/app/Models/Model.php
/admin/config
/admin/app/Helpers
/admin/app/Controllers/ValidadeLogin.php